# ---- Python ----
*.py[cod]
__pycache__/
# compiled
*.so

# ---- Virtual / Conda envs ----
.env
.venv/
.envrc

# ---- Jupyter & VS Code ----
.ipynb_checkpoints/
.vscode/

# ---- dbt build artefacts ----
dbt_packages/
target/

# ---- Data folders (large files kept outside git) ----
data/
outputs/

# ---- OS / Misc ----
.DS_Store
*.log

